.screen-3 {
	height: 100%;
	background: 
	url(../img/decor/lines-blue.png) 104% 50% no-repeat,
	linear-gradient(to top, #fcfdff 0%, #eff4fe 100%);

	&.active {
		background: 
		url(../img/decor/lines-blue.png) 104% 50% no-repeat,
		linear-gradient(to top, #131d27 0%, #131d27 100%);
	}

	@media (max-width: 1250px) {
		background: #eff4fe !important;

		&.active {
			background: #131d27 !important;
		}
	}

	@media (max-width: 850px) {
		padding: 0px 0 50px 0;
	}

	// .screen-3__inner

	&__inner {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin: 0px -15px;

		@media (max-width: 770px) {
			margin: 0px -10px;
		}

		@media (max-width: 650px) {
			margin: -5px -5px;
		}

		@media (max-width: 480px) {
			margin: -10px 0px;
		}
	}

	// .screen-3__column

	&__column {
		flex: 0 1 22%;
		height: 530px;
		background-color: #ffffff;
		padding: 45px 45px 45px 30px;
		overflow: auto;
		@include scrollbars(10px, #5a7797, #eeeeee);
		border-top: 3px solid;
		margin: 0px 15px;

		@media (max-width: 1500px) {
			flex: 0 1 26%;
		}

		@media (max-width: 1400px) {
			height: 410px;
			padding: 20px 15px 15px 15px;
		}

		@media (max-width: 1150px) {
			flex: 0 1 28%;
		}

		@media (max-width: 850px) {
			flex: 0 1 30%;
			padding: 15px 15px 15px 15px;
			margin: 0px 10px;
		}

		@media (max-width: 650px) {
			flex: 0 1 47%;
			padding: 10px 10px 10px 10px;
			margin: 5px 5px;
		}

		@media (max-width: 480px) {
			flex: 0 1 100%;
			margin: 10px 0px;
		}

		&--first {
			border-color: $red;
		}
		&--second {
			border-color: $orange;
		}
		&--third {
			border-color: $blue;
		}
	}

	// .screen-3__title

	&__title {
		font-size: 22px;
		font-weight: 700;
		margin: 0px 0px 55px 0px;

		@media (max-width: 1400px) {
			font-size: 20px;
    		margin: 0 0 25px 0;
		}

	}

	// .screen-3__item

	&__item {
		display: flex;

		&:not(:last-child) {
			margin: 0px 0px 35px 0px;

			@media (max-width: 1400px) {
				margin: 0px 0px 25px 0px;
			}
		}
	}

	// .screen-3__item-img

	&__item-img {
		width: 65px;
		height: 65px;
		background-color: #dddddd;
		margin: 0px 25px 0px 0px;

		@media (max-width: 1400px) {
			width: 55px;
			height: 55px;
			margin: 0 15px 0 0;
		}

		@media (max-width: 770px) {
			width: 45px;
			 height: 45px;
			 margin: 0 10px 0 0;
		}
	}

	// .screen-3__item-title

	&__item-title {
		font-size: 16px;
		font-weight: 400;
		line-height: 26px;
		color: $blue;
		margin: 0px 0px 5px 0px;

		@media (max-width: 1400px) {
			font-size: 14px;
    		line-height: 18px;
		}

		@media (max-width: 770px) {
			font-size: 12px;
    		line-height: 14px;
		}

		@media (max-width: 480px) {
			font-size: 14px;
    		line-height: 18px;
		}
	}

	// .screen-3__item-subtitle

	&__item-subtitle {
		font-size: 16px;
		font-weight: 700;
		line-height: 22px;
		text-transform: uppercase;
		margin: 0px 0px 10px 0px;

		@media (max-width: 1400px) {
			margin: 0 0 0px 0;
		}

		@media (max-width: 770px) {
			font-size: 13px;
    		line-height: 20px;
		}

		@media (max-width: 480px) {
			font-size: 16px;
    		line-height: 23px;
		}
	}

	// .screen-3__item-descr

	&__item-descr {
		color: #5a7797;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;

		@media (max-width: 1400px) {
			font-size: 15px;
    		line-height: 20px;
		}	
	}
}