.screen-4 {
	height: 100%;
	background: 
	url(../img/decor/lines-yellow-sm.png) -3% 70% no-repeat,
	url(../img/decor/lines-blue-b.png) 87% 6% no-repeat;
	
	@media (max-width: 1400px) {
		background: 
		url(../img/decor/lines-yellow-sm.png) -3% 74% no-repeat,
		url(../img/decor/lines-blue-b.png) 96% 6% no-repeat;	
	}

	@media (max-width: 1250px) {
		background: none !important;
	}

	@media (max-width: 850px) {
		padding: 0px 0 50px 0;
	}

	&__slider {
		max-width: 1150px;
		margin: 100px auto 0;

		@media (max-width: 1500px) {
			margin: 50px auto 0;
		}

	}
	// .screen-4__inner

	&__slider-inner {
		display: flex;
		justify-content: center;

		@media (max-width: 1250px) {
			padding: 0px 50px;
		}

		@media (max-width: 850px) {
			flex-direction: column-reverse;
			padding: 0px 0px;
		}
	}

	// .screen-4__column

	&__slider-column {
		flex: 0 1 40%;

		@media (max-width: 1400px) {
			flex: 0 1 50%;
		}

		@media (max-width: 1100px) {
			flex: 0 1 45%;
		}
	}

	&__slider-column--bg {
		margin-left: 130px;
		flex: 0 1 60%;

		@media (max-width: 1500px) {
			margin-left: 90px;
		}

		@media (max-width: 1400px) {
			margin-left: 70px;
			flex: 0 1 50%;
		}

		@media (max-width: 850px) {
			margin: 0;
		}
	}

	&__slider-item {
		cursor: pointer;
	}

	// .screen-4__title

	&__title {
		font-size: 16px;
		font-weight: 400;
		line-height: 26px;
		color: $blue;
		font-family: $font-third;
		margin: 0px 0px 20px 0px;
	
		@media (max-width: 850px) {
			font-size: 12px;
			line-height: 14px;
			margin: 0px 0px 10px 0px;
		}
	}

	// .screen-4__subtitle

	&__subtitle {
		font-family: $font-secondary;
		@include adaptive-font(40, 20, 40);
		font-weight: 700;
		margin: 0px 0px 37px 0px;

		@media (max-width: 1000px) {
			margin: 0px 0px 20px 0px;
		}

		@media (max-width: 850px) {
			line-height: 20px;
			margin: 0px 0px 10px 0px;
		}
	}

	// .screen-4__descr

	&__descr {
		color: $blue-darken;
		font-size: 16px;
		font-weight: 500;
		line-height: 26px;
		margin: 0px 0px 60px 0px;

		@media (max-width: 1400px) {
			font-size: 15px;
			line-height: 20px;
			margin: 0px 0px 30px 0px;
		}

		@media (max-width: 480px) {
			margin: 0 0 20px 0;
		}
	}

	// .screen-4__btn

	&__btn {
		color: #07335d;
		font-size: 16px;
		font-weight: 700;
		line-height: 22px;
		text-transform: uppercase;
	}

	// .screen-4__img

	&__img {
		padding: 0px 0px 77% 0px;
		overflow: hidden;
		position: relative;

		@media (max-width: 1400px) {
			padding: 0px 0px 57% 0px;
		}

		@media (max-width: 850px) {
			margin: 0px 0px 20px 0px;
			padding: 0px 0px 50% 0px;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	// .screen-4__dotshead

	&__dotshead {
		position: relative;
		max-width: 1150px;
		margin: 50px auto 0;
		width: 100%;

		@media (max-width: 1400px) {
			max-width: 1000px;
		}

		@media (max-width: 1250px) {
			padding: 0px 50px;
		}

		@media (max-width: 850px) {
			padding: 0;
			margin: 20px auto 0;
		}

	}

	&__dotshead-box {
		max-width: 200px;
		position: relative;
		color: #6e8eb1;
		cursor: pointer;

		@media (max-width: 480px) {
			width: 50px;
		}
	}

	// .screen-4__dotshead-number

	&__dotshead-number {
		font-size: 16px;
		font-weight: 400;
		line-height: 26px;
		font-family: "CallingCode";

		@media (max-width: 480px) {
			font-size: 18px;
		}
	}

	// .screen-4__dotshead-name

	&__dotshead-name {
		font-weight: 700;
		font-size: 20px;

		@media (max-width: 480px) {
			font-size: 14px;
		}

		span {
			@media (max-width: 800px) {
				display: block;
			}
		}
	}
}