.counter {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 80px;
	height: 80px;
	background-color: $red;
	color: #ffffff;
	font-size: 28px;
	line-height: 80px;
	font-weight: 700;
	text-align: center;

	@media (max-width: 1400px) {
		width: 70px;
		height: 70px;
		font-size: 23px;
		line-height: 70px;
	}
}