.menu-title {
	position: relative;
	z-index: 2;
	display: inline-block;
	background: $red;
	color: #ffffff;
	font-family: $font-third;
	font-size: 16px;
	font-weight: 400;
	padding: 3px 24px 5px 7px;
}