.page-slider {

	&__item {
		height: 100vh;

		@media (max-width: 850px) {
			height: 100%;
		}
	}

	.slick-dots{
		position: absolute;
		left: 60px;
		top: calc(50% - 100px);
		transform: translateY(-50%);

		@media (max-width: 1500px) {
			top: calc(50% - 80px);
		}

		@media (max-width: 1400px) {
			top: calc(50% - 60px);
			left: 15px;
		}

		@media (max-width: 480px) {
			top: calc(50% - 50px);
		}

	}
	.slick-dots li:not(:last-child){
		margin: 0px 0px 19px 0px;

		@media (max-width: 1400px) {
			margin: 0px 0px 15px 0px;
		}
	}
	
	.slick-dots li.slick-active button{
		background-color: #5a7797;
	}
	
	.slick-dots button{
		font-size: 0;
		width: 10px;
		height: 10px;
		border: 1px solid #5a7797;
		background-color: transparent;
		padding: 0;
		outline: none;
	}
}

.page-slider .screen-2{
	.slick-dots {
		left: 64%;
		top: 91%;

		@media (max-width: 930px) {
			top: 95%;
		}

		@media (max-width: 850px) {
			left: 50%;
			top: 102%;
			transform: translate(-50%);
		}	
	}

	.slick-dots li{
		display: inline-block;

		&:not(:last-child){
			margin: 0px 19px 0px 0px;
		}
	}

	.slick-dots button{
		background-color: #e1e3e4;
		border: none;
	}

	.slick-dots li.slick-active button{
		background-color: #5a7797;
	}

}

.page-slider .screen-4{
	.slick-dots {
		.slick-current {
			.screen-4__dotshead-box {
				color: $orange;
			}
		}
	}

	.slider-arrows {
		cursor: pointer;
		position: absolute;
		bottom: 80px;
		z-index: 4;

		@media (max-width: 1400px) {
			bottom: 0;
		}
	}

	.slider-arrows__left {
		transform: rotate(180deg);
	}

	.slider-arrows__right {
		left: 50px;

		@media (max-width: 1250px) {
			left: 100px;
		}

		@media (max-width: 1250px) {
			left: 60px;
		}
	}
}

.page-slider .screen-5{
	.slick-dots {
		left: 47%;
		top: 115%;
		transform: translateX(-47%);

		@media (max-width: 850px) {
			top: 103%;
		}
	}

	.slick-dots li{
		display: inline-block;

		&:not(:last-child){
			margin: 0px 19px 0px 0px;
		}
	}

	.slick-dots button{
		background-color: #e1e3e4;
		border: none;
	}

	.slick-dots li.slick-active button{
		background-color: #5a7797;
	}

	.slick-current {
		.screen-5-item__box {
			border-top: 3px solid $orange;
		}
	}

}

.page-slider .screen-6{
	.slick-dots {
		left: 3px;
		top: 100%;

		@media (max-width: 1250px) {
			left: 50px;
		}

		@media (max-width: 850px) {
			left: 50%;
			transform: translate(-50%);
		}
	}

	.slick-dots li{
		display: inline-block;

		&:not(:last-child){
			margin: 0px 19px 0px 0px;
		}
	}

	.slick-dots button{
		background-color: #e1e3e4;
		border: none;
	}

	.slick-dots li.slick-active button{
		background-color: #5a7797;
	}
}