.page-slider {

	&__item {
		height: 100vh;
	}

	.slick-dots{
		position: absolute;
		left: 60px;
		top: calc(50% - 100px);
		transform: translateY(-50%);

		@media (max-width: 1400px) {
			left: 15px;
		}
	}
	.slick-dots li:not(:last-child){
		margin: 0px 0px 19px 0px;

		@media (max-width: 1400px) {
			margin: 0px 0px 15px 0px;
		}
	}
	
	.slick-dots li.slick-active button{
		background-color: #5a7797;
	}
	
	.slick-dots button{
		font-size: 0;
		width: 10px;
		height: 10px;
		border: 1px solid #5a7797;
		background-color: transparent;
		padding: 0;
		outline: none;
	}
}

.page-slider .screen-2{
	.slick-dots {
		left: 64%;
		top: 91%;
	}

	.slick-dots li{
		display: inline-block;

		&:not(:last-child){
			margin: 0px 19px 0px 0px;
		}
	}

	.slick-dots button{
		background-color: #e1e3e4;
		border: none;
	}

}

.page-slider .screen-5{
	.slick-dots {
		left: 50%;
		top: 120%;
		transform: translateX(-50%);
	}

	.slick-dots li{
		display: inline-block;

		&:not(:last-child){
			margin: 0px 19px 0px 0px;
		}
	}

	.slick-dots button{
		background-color: #e1e3e4;
		border: none;
	}

	.slick-current {
		.screen-5-item__box {
			border-top: 3px solid $orange;
		}
	}

}

.page-slider .screen-6{
	.slick-dots {
		left: 3px;
		top: 100%;
	}

	.slick-dots li{
		display: inline-block;

		&:not(:last-child){
			margin: 0px 19px 0px 0px;
		}
	}
}