// pagination
.swiper-container-horizontal>.swiper-pagination-bullets{ 
	bottom: 0;
}
.page__pagination.swiper-pagination-clickable.swiper-pagination-bullets {
	right: auto;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{ 
	margin: 0px 20px 0px 0px;

	&:last-child {
		margin: 0;
	}
}
.screen-5__slider .swiper-pagination{
	// transform: translateX(-50px);
}
.screen-6__slider .swiper-pagination{
	text-align: left;
}
.screen-6__slider-item {
	cursor: pointer;
}

.screen-2__slider .swiper-pagination {
	left: 185px;
	bottom: 66px;

	@media (max-width: 1400px) {
		left: 185px;
		bottom: 0px;
	}

	@media (max-width: 850px) {
		left: 0;
	}
}
.swiper-pagination-bullet {
	width: 10px;
	height: 10px;
	cursor: pointer;
	background-color: #e1e3e4;
	border: none;
	border-radius: 0;
	opacity: 1;
	transition: all .5s;

	&-active {
		background-color: #5a7797;
	}
}


// thumbs
.screen-4__dotshead-item.swiper-slide-thumb-active {
	.screen-4__dotshead-box {
		color: #ffdb66;
		transition: color .3s;
	}
}


.screen-5__slider-item.swiper-slide-active {
	.screen-5-item__box {
		border-top: 3px solid #ffdb66;
	}
}

.swiper-slide {
	cursor: pointer;
}