// Colours
$white: #fff;
$black: #000;
$orange: #ffdb66;
$red: #f25850;
$blue-darken: #07335d;
$blue: #0cc7dd;

// Fonts
$font-family: "Metropolis", sans-serif;
$font-secondary: 'Poppins', sans-serif;
$font-third: "CallingCode", sans-serif;

// Weights
$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrablack: 900;

// Adaptive md
$maxWidth: 1900;
$minwidth: 320px;
$mw: 950;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

%title {
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	color: $blue;
	font-family: $font-third;
	margin: 0px 0px 20px 0px;
}
%subtitle {
	font-family: $font-secondary;
	color: $blue-darken;
	font-size: 40px;
	font-weight: 700;
	margin: 0px 0px 37px 0px;
}
%descr {
	font-size: 16px;
	font-weight: 500;
	line-height: 26px;
}