// Colours
$white: #fff;
$black: #000;
$orange: #ffdb66;
$red: #f25850;
$blue-darken: #07335d;
$blue: #0cc7dd;

// Fonts
$font-family: "Metropolis", sans-serif;
$font-secondary: 'Poppins', sans-serif;
$font-third: "CallingCode", sans-serif;

// Weights
$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrablack: 900;

// Adaptive md
$maxWidth: 1920;
$minwidth: 320px;
$mw: 950;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;