.screen-8 {
	position: relative;
	height: 670px;
	background-color: #dddddd;

	@media (max-width: 1400px) {
		height: 400px;
	}

	@media (max-width: 770px) {
		height: 320px;
	}
	// .screen-8__content

	&__content {
		margin: 310px auto 0;
		max-width: 1320px;
		height: 100%;
		padding: 80px 70px;
		background-color: #ffffff;
		display: flex;
		justify-content: space-between;
		border-top: 3px solid $orange;

		@media (max-width: 1400px) {
			margin: 100px auto 0;
			max-width: 1000px;
			padding: 40px;
		}

		@media (max-width: 770px) {
			padding: 25px;
		}

		@media (max-width: 480px) {
			flex-direction: column;
			margin: 30px auto 0;
			padding: 15px 15px 100px 15px;
		}
	}

	// .screen-8__column

	&__column {
		flex: 0 1 35%;

		@media (max-width: 1400px) {
			flex: 0 1 45%;
		}

		@media (max-width: 480px) {
			margin: 0px 0px 30px 0px;
		}
	}

	// .screen-8__form

	&__form {
	}

	&__label {
		color: #8ea5bd;
		font-size: 16px;
		font-weight: 400;
		line-height: 26px;
		margin: 0px 0px -5px 0px;
	}

	// .screen-8__select

	&__select {
		width: 100%;
		padding: 0px 0px 15px 0px;
		border-bottom: 1px solid #c1c1c1;
		color: $blue-darken;
		font-size: 20px;
		font-weight: 600;
		line-height: 26px;
		margin: 0px 0px 10px 0px;

		@media (max-width: 480px) {
			font-size: 16px;
			line-height: 22px;
		}
	}

	// .screen-8__name

	&__name {
		width: 45%;
		height: 55px;
		border-bottom: 1px solid #c1c1c1;
		margin: 0px 0px 30px 0px;

		@media (max-width: 1400px) {
			height: 45px;
		}
	}

	&__message {
		width: 100%;
		border-bottom: 1px solid #c1c1c1;
		margin: 0px 0px 40px 0px;
		resize: none;

		@media (max-width: 480px) {
			margin: 0 0 25px 0;
		}
	}
	// .screen-8__email

	&__email {
		float: right;
		width: 45%;
		height: 55px;
		border-bottom: 1px solid #c1c1c1;
		
		@media (max-width: 1400px) {
			height: 45px;
		}
	}

	&__btn {
		display: inline-block;
		color: $blue-darken;
		font-size: 16px;
		font-weight: 600;
		line-height: 22px;
		text-transform: uppercase;
		background: none;
		border-bottom: 3px solid $orange;
		transition: color .3s;

		&:hover {
			color: $orange;
		}
	}

	// .screen-8__title

	&__title {
		color: $blue-darken;
		font-family: $font-secondary;
		@include adaptiv-font(48, 25);
		font-weight: 700;
		margin: 0px 0px 38px 0px;

		@media (max-width: 1400px) {
			margin: 0 0 20px 0;
		}

		@media (max-width: 480px) {
			margin: 0 0 15px 0;
		}

	}

	// .screen-8__text

	&__text {
		color: #65798f;
		font-size: 16px;
		font-weight: 400;
		line-height: 26px;
		margin: 0px 0px 35px 0px;

		@media (max-width: 1400px) {
			margin: 0 0 20px 0;
		}

		@media (max-width: 480px) {
			font-size: 15px;
			line-height: 20px;
			margin: 0 0 10px 0;
		}
	}

	&__text__address {
		width: 290px;
		color: $blue-darken;
		font-size: 16px;
		font-weight: 400;
		line-height: 26px;
		margin: 0px 0px 30px 0px;

		@media (max-width: 1400px) {
			margin: 0 0 10px 0;
		}

		@media (max-width: 480px) {
			font-size: 14px;
			line-height: 20px;
		}
	}

	&__text__email {
		display: block;
		color: $blue;
		font-family: $font-third;
		font-size: 18px;
		font-weight: 400;
		line-height: 26px;
		text-decoration: underline;
		margin: 0px 0px 10px 0px;
		transition: color .3s;

		&:hover {
			color: $orange;
		}
	}
	&__text__phone {
		color: $blue-darken;
		display: block;
		font-size: 24px;
		font-weight: 700;
		transition: color .3s;

		@media (max-width: 1400px) {
			font-size: 20px;
		}

		&:hover {
			color: $orange;
		}
	}

	// .screen-8__footer

	&__footer {
		display: flex;
		position: absolute;
		bottom: -438px;
		left: 380px;

		@media (max-width: 1400px) {
			left: 205px;
			bottom: -183px;
		}

		@media (max-width: 770px) {
			left: 15px;
		}

		@media (max-width: 480px) {
			bottom: -375px;
			left: 30px;
			
		}
	}

	// .screen-8__list-links

	&__list-links {
		display: flex;
		margin: 0px 450px 0px 0px;

		@media (max-width: 1400px) {
			margin: 0 240px 0 0;
		}

		@media (max-width: 770px) {
			margin: 0 150px 0 0;
		}

		@media (max-width: 480px) {
			flex-direction: column;
			margin: -83px 30px 0 0;
		}
	}

	// .screen-8__item

	&__item {

		&:not(:last-child) {
			margin: 0px 40px 0px 0px;

			@media (max-width: 1400px) {
				margin: 0 25px 0 0;
			}
		}
	}

	// .screen-8__links

	&__links {
		color: $blue-darken;
		font-size: 16px;
		font-weight: 600;
		line-height: 22px;
		text-transform: uppercase;
		transition: color .3s;

		@media (max-width: 1400px) {
			font-size: 15px;
		}

		@media (max-width: 480px) {
			font-size: 14px;
			line-height: 20px;
		}

		&:hover {
			color: $orange;
		}
	}

	// .screen-8__copiryght

	&__copiryght {
		color: #65798f;
		font-size: 14px;
		font-weight: 400;
	}
}
