.screen-3 {
	padding: 0px 0px 50px 0px;
	height: 100%;
	background: 
	url(../img/decor/lines-blue.png) 104% 6% no-repeat,
	linear-gradient(to top, #fcfdff 0%, #eff4fe 100%);
	

	@media (max-width: 1600px) {
		background: 
		url(../img/decor/lines-blue.png) 108% 6% no-repeat,
		linear-gradient(to top, #fcfdff 0%, #eff4fe 100%);
		
	}
	// .screen-3__inner

	&__inner {
		display: flex;
		justify-content: center;
		margin: 0px -15px;

		@media (max-width: 770px) {
			margin: 0px -10px;
		}
	}

	// .screen-3__column

	&__column {
		flex: 0 1 22%;
		height: 530px;
		background-color: #ffffff;
		padding: 45px 45px 45px 30px;
		overflow: auto;
		border-top: 3px solid;
		margin: 0px 15px;

		@media (max-width: 1400px) {
			height: 410px;
			padding: 20px 15px 15px 15px;
		}

		@media (max-width: 770px) {
			flex: 0 1 30%;
			padding: 15px 15px 15px 15px;
			margin: 0px 10px;
		}

		&--first {
			border-color: $red;
		}
		&--second {
			border-color: $orange;
		}
		&--third {
			border-color: $blue;
		}
	}

	// .screen-3__title

	&__title {
		font-size: 22px;
		font-weight: 700;
		color: $blue-darken;
		margin: 0px 0px 55px 0px;

		@media (max-width: 1400px) {
			font-size: 20px;
    		margin: 0 0 25px 0;
		}
	}

	// .screen-3__item

	&__item {
		display: flex;

		&:not(:last-child) {
			margin: 0px 0px 35px 0px;

			@media (max-width: 1400px) {
				margin: 0px 0px 25px 0px;
			}
		}
	}

	// .screen-3__item-img

	&__item-img {
		width: 65px;
		height: 65px;
		background-color: #dddddd;
		margin: 0px 25px 0px 0px;

		@media (max-width: 1400px) {
			width: 55px;
			height: 55px;
			margin: 0 15px 0 0;
		}

		@media (max-width: 770px) {
			width: 45px;
			 height: 45px;
			 margin: 0 10px 0 0;
		}
	}

	// .screen-3__item-title

	&__item-title {
		font-size: 16px;
		font-weight: 400;
		line-height: 26px;
		color: $blue;
		margin: 0px 0px 5px 0px;

		@media (max-width: 1400px) {
			font-size: 14px;
    		line-height: 18px;
		}

		@media (max-width: 770px) {
			font-size: 12px;
    		line-height: 14px;
		}
	}

	// .screen-3__item-subtitle

	&__item-subtitle {
		color: #140c30;
		font-size: 16px;
		font-weight: 700;
		line-height: 22px;
		text-transform: uppercase;
		margin: 0px 0px 10px 0px;

		@media (max-width: 1400px) {
			margin: 0 0 0px 0;
		}

		@media (max-width: 770px) {
			font-size: 13px;
    		line-height: 20px;
		}
	}

	// .screen-3__item-descr

	&__item-descr {
		color: #5a7797;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;

		@media (max-width: 1400px) {
			font-size: 15px;
    		line-height: 20px;
		}	
	}
}