.screen-6 {
	height: 100%;
	background: url(../img/decor/lines-green-light.png) 80% 6% no-repeat;
	
	@media (max-width: 1600px) {
		background: url(../img/decor/lines-green-light.png) 90% 6% no-repeat;
	}

	@media (max-width: 1400px) {
		background: url(../img/decor/lines-green-light.png) 98% 28% no-repeat;
	}

	@media (max-width: 770px) {
		padding: 0px 0 50px 0;
	}

	// .screen-6__slider

	&__slider {
		position: relative;
		max-width: 1170px;
		margin: 105px auto 0;

		@media (max-width: 1600px) {
			margin: 50px auto 0;
		}

		@media (max-width: 1300px) {
			margin-left: 50px;
		}

		@media (max-width: 770px) {
			margin: 30px auto 0;
			width: 100%;
		}
	}

}
.screen-6-slider {

	// .screen-6-slider__inner

	&__inner {
		display: flex;
		justify-content: center;

		@media (max-width: 770px) {
			flex-direction: column-reverse;
		}
	}

	// .screen-6-slider__text

	&__column {
		flex: 0 1 50%;
	}

	// .screen-6-slider__title

	&__title {
		color: #07335d;
		font-family: $font-secondary;
		@include adaptiv-font(40, 28);
		line-height: (45 / 40);
		font-weight: 700;
		margin: 0px 0px 55px 0px;

		@media (max-width: 1400px) {
			margin: 0 0 35px 0;
		}

		@media (max-width: 770px) {
			margin: 0px 0px 10px 0px;
		}

	}

	// .screen-6-slider__descr

	&__descr {
		color: #07335d;
		font-size: 16px;
		font-weight: 500;
		line-height: 28px;
		margin: 0px 0px 40px 0px;

		@media (max-width: 1400px) {
			margin: 0 0 30px 0;
			font-size: 15px;
		}

		@media (max-width: 770px) {
			margin: 0 0 10px 0;
			line-height: 24px;
		}
	}

	// .screen-6-slider__name

	&__name {
		color: #07335d;
		font-size: 16px;
		line-height: 26px;
		text-transform: uppercase;
		font-weight: 600;
		margin: 0px 0px 25px 0px;

		@media (max-width: 1400px) {
			margin: 0px 0px 5px 0px;
		}
	}

	// .screen-6-slider__job

	&__job {
		color: #0cc7dd;
		font-family: $font-third;
		font-size: 16px;
		font-weight: 400;
		line-height: 26px;
		margin-bottom: 20px;
	}

	// .screen-6-slider__box

	&__box {
		position: relative;
		margin: 0px 0px 0px 110px;

		@media (max-width: 770px) {
			margin: 0px 0px 30px 0px;
		}
	}

	// .screen-6-slider__img

	&__img {
		max-width: 670px;
		height: 446px;
		object-fit: cover;
		object-position: center;

		@media (max-width: 1400px) {
			height: 350px;
		}

		@media (max-width: 1100px) {
			width: 100%;
		}

		@media (max-width: 770px) {
			width: 100%;
		}

		@media (max-width: 480px) {
			height: 250px;
		}
	}

	// .screen-6-slider__link

	&__link {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	// .screen-6-slider__text

	&__text {
		position: absolute;
		bottom: 35px;
		left: 35px;
		color: $white;

		@media (max-width: 770px) {
			bottom: 20px;
			left: 20px;
		}

		@media (max-width: 480px) {
			bottom: 10px;
			 left: 10px;
			 font-size: 15px;
		}
	}
}
