.screen-6 {
	padding: 130px 0px 0px 0px;
	background: url(../img/decor/lines-green-light.png) 80% 6% no-repeat;
	
	@media (max-width: 1600px) {
		background: url(../img/decor/lines-green-light.png) 90% 6% no-repeat;
	}

	@media (max-width: 1500px) {
		padding: 80px 0px 0px 0px;
	}

	@media (max-width: 1400px) {
		padding: 60px 0px 0px 0px;
		background: url(../img/decor/lines-green-light.png) 98% 10% no-repeat;
	}

	@media (max-width: 1250px) {
		background: none !important;
	}

	@media (max-width: 850px) {
		padding: 0px 0 50px 0;
	}

	@media (max-width: 480px) {
		padding: 50px 0px 0px 0px;
	}

	// .screen-6__slider

	&__slider {
		max-width: 1150px;
		margin: 100px auto 0;

		@media (max-width: 1500px) {
			margin: 50px auto 0;
		}

		@media (max-width: 1250px) {
			padding: 0px 50px;
		}

		@media (max-width: 850px) {
			margin: 30px auto 0;
			padding: 0;
		}
	}

}
.screen-6-slider {

	// .screen-6-slider__inner

	&__inner {
		display: flex;
		justify-content: center;

		@media (max-width: 850px) {
			flex-direction: column-reverse;
		}
	}

	// .screen-6__column

	&__column {
		flex: 0 1 40%;

		@media (max-width: 1400px) {
			flex: 0 1 50%;
		}

		@media (max-width: 1100px) {
			flex: 0 1 45%;
		}
	}

	&__column--bg {
		margin-left: 130px;
		flex: 0 1 60%;

		@media (max-width: 1500px) {
			margin-left: 90px;
		}

		@media (max-width: 1400px) {
			margin-left: 70px;
			flex: 0 1 50%;
		}

		@media (max-width: 1000px) {
			margin-left: 40px;
		}

		@media (max-width: 850px) {
			margin: 0;
		}
	}

	// .screen-6-slider__title

	&__title {
		font-family: $font-secondary;
		@include adaptiv-font(38, 24);
		line-height: (45 / 40);
		font-weight: 700;
		margin: 0px 0px 55px 0px;

		@media (max-width: 1400px) {
			margin: 0 0 35px 0;
		}

		@media (max-width: 1000px) {
			margin: 0px 0px 20px 0px;
		}

		@media (max-width: 850px) {
			margin: 0px 0px 10px 0px;
		}

	}

	// .screen-6-slider__descr

	&__descr {
		font-size: 16px;
		font-weight: 500;
		line-height: 28px;
		margin: 0px 0px 40px 0px;

		@media (max-width: 1400px) {
			margin: 0 0 30px 0;
			font-size: 15px;
		}

		@media (max-width: 1000px) {
			margin: 0px 0px 20px 0px;
		}

		@media (max-width: 850px) {
			margin: 0 0 10px 0;
			line-height: 24px;
		}
	}

	// .screen-6-slider__name

	&__name {
		font-size: 16px;
		line-height: 26px;
		text-transform: uppercase;
		font-weight: 600;
		margin: 0px 0px 25px 0px;

		@media (max-width: 1400px) {
			margin: 0px 0px 5px 0px;
		}
	}

	// .screen-6-slider__job

	&__job {
		color: #0cc7dd;
		font-family: $font-third;
		font-size: 16px;
		font-weight: 400;
		line-height: 26px;
		margin-bottom: 20px;
	}

	// .screen-6-slider__box

	&__box {
		position: relative;
	}

	// .screen-6-slider__img

	&__img {
		padding: 0px 0px 77% 0px;
		overflow: hidden;
		position: relative;

		@media (max-width: 1400px) {
			padding: 0px 0px 67% 0px;
		}

		@media (max-width: 1000px) {
			padding: 0px 0px 77% 0px;
		}

		@media (max-width: 850px) {
			margin: 0px 0px 20px 0px;
			padding: 0px 0px 50% 0px;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	// .screen-6-slider__link

	&__link {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	// .screen-6-slider__text

	&__text {
		position: absolute;
		bottom: 35px;
		left: 35px;
		color: $white;

		@media (max-width: 850px) {
			bottom: 20px;
			left: 20px;
		}

		@media (max-width: 480px) {
			bottom: 10px;
			 left: 10px;
			 font-size: 15px;
		}
	}
}
