.screen-4 {
	padding: 0px 0px 50px 0px;
	height: 100%;
	background: 
	url(../img/decor/lines-yellow-sm.png) -3% 70% no-repeat,
	url(../../img/decor/lines-blue-b.png) 104% 6% no-repeat;
	
	// .screen-4__inner

	&__slider-inner {
		display: flex;
		justify-content: center;
		margin: 115px 0px 0px 0px;

		@media (max-width: 1400px) {
			margin: 50px 0 0 0;
		}

		@media (max-width: 770px) {
			flex-direction: column-reverse;
			margin: 30px 0 0 0;
		}
	}

	// .screen-4__column

	&__slider-column {
		flex: 0 1 30%;
	}

	// .screen-4__title

	&__title {
		font-size: 16px;
		font-weight: 400;
		line-height: 26px;
		color: $blue;
		font-family: $font-third;
		margin: 0px 0px 20px 0px;
	
		@media (max-width: 770px) {
			font-size: 12px;
			line-height: 14px;
			margin: 0px 0px 10px 0px;
		}
	}

	// .screen-4__subtitle

	&__subtitle {
		font-family: $font-secondary;
		color: $blue-darken;
		font-size: 40px;
		font-weight: 700;
		margin: 0px 0px 37px 0px;

		@media (max-width: 770px) {
			font-size: 13px;
			line-height: 20px;
			margin: 0px 0px 10px 0px;
		}
	}

	// .screen-4__descr

	&__descr {
		color: $blue-darken;
		font-size: 16px;
		font-weight: 500;
		line-height: 26px;
		margin: 0px 0px 60px 0px;

		@media (max-width: 1400px) {
			font-size: 15px;
			line-height: 20px;
			margin: 0px 0px 30px 0px;
		}
	}

	// .screen-4__btn

	&__btn {
		color: #07335d;
		font-size: 16px;
		font-weight: 700;
		line-height: 22px;
		text-transform: uppercase;
	}

	// .screen-4__img

	&__img {
		width: 670px;
		height: 470px;
		background-color: #dddddd;
		margin: 0px 0px 0px 115px;
		object-fit: cover;
		 object-position: center;
		 
		@media (max-width: 1400px) {
			width: 570px;
			height: 370px;
			margin: 0 0 0 50px;
		}

		@media (max-width: 770px) {
			width: 100%;
			margin: 0 0 30px 0px;
			height: 350px;
		}
	}

	// .screen-4__dotshead

	&__dotshead {
		left: 230px;
		bottom: -200px;
		max-width: 1100px;
		width: 100%;

		@media (max-width: 1600px) {
			left: 130px;
		}

		@media (max-width: 1400px) {
			bottom: -50px;
		}

		@media (max-width: 770px) {
			left: 0;
			bottom: -20px;
		}

		.slick-current {
			.screen-4__dotshead-box {
				color: $orange;
			}
		 }
	}

	&__dotshead-box {
		height: 41px;
		height: 44px;
		width: 200px;
		position: relative;
		color: #6e8eb1;
	}

	// .screen-4__dotshead-number

	&__dotshead-number {
		font-size: 20px;
		font-weight: 400;
		line-height: 26px;
	}

	// .screen-4__dotshead-name

	&__dotshead-name {
		font-weight: 700;
	}
}