.screen-5 {
	padding: 0px 0px 50px 0px;
	height: 100%;
	background-image: linear-gradient(to top, #fcfdff 0%, #eff4fe 100%);
	
	// .screen-5__slider

	&__slider {

		.slick-slide:nth-child(even) .screen-5-item__box{
			margin-top: 30px;
		}
	}
	
	// .screen-5__slider-item

	&__slider-item {

	}
}



.screen-5-item {

	// .screen-5-item__box

	&__box {
		width: 370px;
		height: 400px;
		background-color: #ffffff;
		text-align: center;
		padding: 45px;
		margin-left: 70px;
		border-top: 3px solid $white;

		@media (max-width: 1400px) {
			width: 330px;
			height: 100%;
			padding: 30px;
			margin-left: 85px;
		}

		@media (max-width: 770px) {
			width: 250px;
			padding: 20px;
			margin-left: 0;
		}
	}

	// .screen-5-item__box-img

	&__box-img {
		height: 100px;
		width: 100px;
		margin: 0 auto 50px;

		@media (max-width: 770px) {
			margin: 0 auto 20px;
		}
	}

	// .screen-5-item__box-title

	&__box-title {
		color: $blue-darken;
		font-size: 22px;
		font-weight: 700;
		margin: 0px 0px 20px 0px;

		@media (max-width: 770px) {
			margin: 0px 0px 10px 0px;
		}
	}

	// .screen-5-item__box-subtitle

	&__box-subtitle {
		color: #5a7797;
		font-size: 16px;
		font-weight: 400;
		line-height: 26px;

		@media (max-width: 770px) {
			line-height: 23px;
		}
	}
}
